
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #1a202c 0%, #000 50%, #2d3748 100%);
}
.section-welcome {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
}

.card-bg-gradient {
  background: #181e29;
  color: #fff;
}
.text-card {
  font-size: .9rem;
  text-align: center;
  padding: 0 1rem;
}

#sugerencias {
  max-height: 250px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #dee2e6;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  margin-top: -1px;
}
#sugerencias li {
  cursor: pointer;
  padding: 8px 16px;
  border-bottom: 1px solid #f1f1f1;
}
#sugerencias li:last-child {
  border-bottom: none;
}
#sugerencias li:hover {
  background: #f1f3f5;
}
.sugerencia-hover:hover, .sugerencia-hover.active {
  background: #e0e7ff;
  color: rgb(255, 255, 0);
  cursor: pointer;
}

.w-md-50 {
    text-align: center;
}

.tabla-fila p {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.opciones-style {
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.bg-card-dark {
  background: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1))!important;
  color: #fff;
}
.list-group-item {
  background: transparent !important;
  color: #fff;
  border-color: #23283a;
}

footer a {
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

footer a:hover {
  color: #ffd700 !important; /* amarillo */
  transition: color 0.2s;
}

footer p, a {
  font-size: .9rem;
}