<!DOCTYPE html>
<html
  xmlns="https://www.w3.org/1999/xhtml/"
  xmlns:th="https://www.thymeleaf.org/"
>
  <head>
    <meta charset="UTF-8" />
    <title>Anime FavReco</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body class=" text-white">
    <header class="mb-5">
      <nav class="navbar bg-dark border-bottom bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold fs-4 mx-4">🌸AniReco</a>
          <div class="d-flex mx-2">
            <ul class="navbar-nav flex-row gap-4">
              <li class="nav-item text-white d-flex justify-content-between align-items-center justify-content-center gap-2">
                <p class="m-0">Favoritos:</p> <span class=" bg-danger rounded-circle px-2" >0</span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <section class="mb-5 section-welcome bg-dark border border-secondary rounded">
        <div class=" d-flex flex-column align-items-center p-4 mb-3 text-center mx-2">
          <p class=" fs-1 mx-1">🌸✨</p>
          <h3 class="fw-bold">¡Bienvenido a AniReco!</h3>
          <p class="w-100 w-md-50 mx-auto text-center mb-4 text-secondary">
            Busca, selecciona tus animes favoritos, luego da clic en
            recomendaciones y descubre nuevas series que podrían interesarte
          </p>
          <div class="d-flex justify-content-center gap-3">
            <div class="card-body border rounded card-bg-gradient p-2">
              <p class=" fs-3 m-0">🔍</p>
              <h5 class="card-title mb-1">Busca Animes</h5>
              <p class="card-text text-card">Explora una base de datos con información de tus animes favoritos</p>
            </div>
            <div class="card-body border rounded card-bg-gradient p-2">
              <p class=" fs-3 m-0">⭐</p>
              <h5 class="card-title mb-1">Crea tu Lista</h5>
              <p class=" card-text text-card">Guarda tus animes favoritos para tener tu colección personal</p>
            </div>
            <div class="card-body border rounded card-bg-gradient p-2">
              <p class=" fs-3 m-0">🎌</p>
              <h5 class="card-title mb-1">Recibe Recomendaciones</h5>
              <p class="card-text text-card">Recibe sugerencias basadas en tus gustos</p>
            </div>
          </div>
        </div>
      </section>

      <section class="row g-4">
        <div class="col-12 col-md-6">
          <form id="formBuscarAnime" th:action="@{/buscar}" method="GET">
            <div class="mb-1 position-relative">
              <label class="form-label" for="buscar">Buscar anime</label>
              <div class="d-flex flex-column flex-md-row gap-2">
                <input
                  type="text"
                  id="busquedaAnime"
                  class="form-control"
                  name="busqueda"
                  placeholder="Escribe tu anime"
                  autocomplete="off"
                />
                <input type="submit" value="🔍" class="btn btn-primary mt-2 mt-md-0" />
              </div>
              <ul id="sugerencias" class="list-group position-absolute w-100" style="z-index: 10;"></ul>
            </div>
          </form>
          <table id="tabla_id" class="table table-hover table-striped">
            <thead class=" text-center">
              <th>Imagen</th>
              <th>Titulo</th>
              <th>Opciones</th>
            </thead>
            <tbody id="table-body">
            </tbody>
          </table>
          <div class="d-flex justify-content-center my-4">
            <button id="generar-reco" class="btn btn-success btn-lg px-4">Generar recomendaciones</button>
          </div>
        </div>

        <div class="col-12 col-md-6 mt-4 mt-md-0 mb-3" th:if="${respuesta != null}">
          <div class="card shadow-sm mx-auto" style="max-width: 22rem;">
            <!-- Imagen del anime (puedes cambiar la URL por la real si la tienes en la respuesta) -->
            <img
              th:src="${respuesta.data.media.coverImage.large}"
              class="card-img-top"
              alt="Portada anime"
              style="object-fit: cover"
            />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5
                id="titulo-anime"
                class="card-title"
                th:text="${respuesta.data.media.title.romaji}"
                ></h5>
                <button id="fav" class="btn btn-outline-warning d-flex" data-toggle="tooltip" data-placement="top" title="Agregar a favoritos" style="justify-content: center; align-items: center; height: 1.7rem"><img src="star-fill.svg"></button>
              </div>
              <ul class="list-group list-group-flush mb-2">
                <li class="list-group-item">
                  <b>Capítulos:</b>
                  <span th:text="${respuesta.data.media.episodes}"></span>
                </li>
                <li class="list-group-item">
                  <b>Temporada:</b>
                  <span th:text="${respuesta.data.media.season}"></span>
                </li>
                <li class="list-group-item">
                  <b>Año:</b>
                  <span th:text="${respuesta.data.media.seasonYear}"></span>
                </li>
                <li class="list-group-item">
                  <b>Géneros:</b>
                  <span
                    th:each="g : ${respuesta.data.media.genres}"
                    th:text="${g}"
                    class="badge bg-secondary me-1"
                  ></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section>
        
      </section>
    </div>
    <footer></footer>
    <script src="servicios.js"></script>
  </body>
</html>
